body {
  margin: 0;
}

@font-face {
  font-family: fa;
  src: url(/Sepahbod.otf);
}

* {
  font-family: fa;
}

#bgi {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  position: fixed;
  z-index: -1;
}

#lessonName {
  width: 25%;
  background: orange;
  height: 250px;
  position: fixed;
  right: 0;
  top: 0%;
  border-bottom-left-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  direction: rtl;
  flex-direction: column;
}

#choiceBox {
  width: 60%;
  background: rgb(199, 132, 9);
  height: 150px;
  position: fixed;
  right: 20%;
  top: 0%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  direction: rtl;
  flex-direction: row;
  border: black solid 1px;
  box-shadow: black 0 0 20px;
  z-index: 1;
}

#Qinp {
  direction: rtl;
  border: solid 5px #000000;
  background-color: #ffeed0;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

#Qinp::placeholder {
  color: rgb(146, 95, 0);
}

#QinpBtn {
  background-color: rgb(0 0 0);
  border-radius: 10px;
  width: 50%;
  color: #ffc107;
}

.choice {
  border: 5px solid black;
  width: 20%;
  height: 100px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: xxx-large;
  background: rgb(240, 211, 132);
}

.choice:hover {
  background: rgb(3, 2, 2);
  color: blanchedalmond;
}

#currentQ {
  width: 20%;
  background: rgb(255, 166, 0);
  height: 250px;
  position: fixed;
  left: 0%;
  top: 0%;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  direction: rtl;
  flex-direction: column;
}

#startNum {
  width: 23%;
  min-height: 50px;
  background: rgb(255, 166, 0);
  /* height: auto; */
  position: fixed;
  right: 0%;
  top: 252px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  direction: rtl;
  flex-direction: column;
}

#startNum:hover .Qinpbox {
  display: flex;
}

.Qinpbox {
  align-items: center;
  justify-content: inherit;
  border-top: 1px black solid;
  padding-top: 10px;
  flex-direction: column;
  height: 150px;
  display: none;
  width: 85%;
}

#increament {
  width: 20%;
  background: rgb(255, 166, 0);
  min-height: 50px;
  position: fixed;
  left: 0%;
  top: 252px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  direction: rtl;
  flex-direction: column;
}

.arrdown:hover {
  color: blanchedalmond;
}

#increament:hover #increase {
  display: flex;
}

.bg {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  position: fixed;
  z-index: -1;
  background-color: rgb(0, 0, 0);
}

#increase {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-top: solid 1px black;
}

#increase label {
  min-width: 100px;
  text-align: center;
}
#timer {
  background-color: #ff5e00d1;
  width: 30%;
  height: 28%;
  border-top-right-radius: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: black solid 6px;
}
.time {
  font-size: xx-large;
  margin-left: -28%;
  margin-bottom: -22%;
}
.btnBox {
  display: none;
  flex-direction: column;
  justify-content: inherit;
  align-items: center;
  height: 49%;
  width: 80%;
  margin-left: -24%;
  margin-bottom: -10%;
}
#timer:hover .btnBox {
  display: flex;
}
.timeBtn {
  width: 50%;
  height: 34%;
  border: dashed black 3px;
  box-shadow: black 0 0 10px;
  background: rgb(251 255 0);
}
.timeBtn:hover {
  cursor: pointer;
}
.answerTable {
  position: absolute;
  top: 170px;
  left: 21%;
  width: 55%;
}
th td {
}
tr {
    border-bottom: black solid;}
